/* ------------google fonts----------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
font-family: 'Montserrat', sans-serif;
margin: 0;
/* background: #E5E5E5; */
}

.search-container{
    background: #fff;
    height: 40px;
    border-radius: 30px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 40%;
}

.search-input{
     width: 400px;
    height:40px;
}

.search-container .search-input{
    border: none;
    outline:none;

}
.search-btn{
    color: red;
}

/* nav stylesheet */
.menu-bar{
    background-color: #003a1a;
}
.hero-btn{
    color: #FFF !important;
    padding: 3px 6px;
    cursor: pointer;
}
.hero-btn:hover{
    background-color: #e02c6d;
    padding: 3px 6px;
}
.text-size{
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.my-btn{
    /* background-color: ; */
    border: 1px solid #F66055;
    color: #F66055;
    padding: 8px 16px;
}
.my-btn:hover{
    color:  #FFF;
    background-color: #F66055;
    transition: 1s;
    transform: translateY(10px);
}
.my-btn-1{
    /* background-color: ; */
    /* border: 1px solid #F66055; */
    color: #F66055;
    padding: 6px 10px;
}
.my-btn-1:hover{
    color:  #FFF;
    background-color: #F66055;
    transition: 1s;
}

/* --------------------------------
           about
-------------------------------- */
.section-title{
    color: #5d0ee3;
}

.social-link{
    font-size: 23px;
    color: #5d0ee3;
}
.fact-item i{
    color: #00C88F;
}


.service{
    color: #FFF;
}
.service .card:hover{
    cursor: pointer;
    transform: translateY(-15px);
    transition: 1s;
}
.custom{
    color: #5d0ee3;
    text-decoration: none;
}
.custom:hover{
    cursor: pointer;
    color: black;
    transform: translateY(10px);
}
.box-shadow:hover{
    border: 1px solid peachpuff;
    box-shadow: 0 0 20px 0px rgb(0,0,0,0.5);
    cursor: pointer;
}
/* --------------------- 
hire-me-section start
-------------- */
.hire-me{
    background-color: #5d0ee3;
    color: #fff;
}
.webdesign{
    position: relative;
}
/* .webdesign:hover{
    background-color: transparent;
} */
.webdesign:hover .details{
    display: block;
    visibility: visible;
}
/* .webdesign:hover{
    background-color: transparent;
} */

.details{
    /* display: none; */
    visibility: hidden;
    position: absolute;
    top: 100px;
    /* background-color: lightgray; */
}

/* .test{
    background-color: thistle;
} */

/* -----------
footer--------- */
footer{
    background-color: #003a1a;
    padding: 40px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    }
/* --------------------------------
            Media-Quearis
-------------------------------- */


@media only screen and (max-width: 992px) {
    .top-nav{
        display: none;
    }
    /* .second-navbar{
        position: fixed;
        width: 100%;
    } */
}
@media only screen and (max-width: 700px) {
    .search-form{
        display: none;
    }
}


/* portfolio */
.portfolio-box{
    position: relative;
    width: 100%;
    /* height: 18.5rem; */
    overflow: hidden;
}
.portfolio-box:hover{
    
}
.portfolio-box img {
    width: 100%;
    height: 100%;
}
.portfolio-info{
    /* background-color: burlywood; */
}
.portfolio-box:hover .portfolio-info{
   
}
.project-btn{
    color: #00C88F;
    padding: 6px 10px;
    border: 1px solid #00C88F;
}
.project-btn:hover{
    color:  #FFF;
    background-color: #00C88F;
    transition: 1s;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: 0.5s;
}
.layer:hover{
    background: rgba(167, 54, 233, 0.575);
 
}
.layer h5{
    width: 100%;
    font-weight: 500p;
    color: #fff;
    font-size: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h5{
    bottom: 49%;
    opacity: 1;
}
.layer a{
    width: 60%;
    font-weight: 500p;
    color:   #FFF;
    font-size: 24px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover a{
    bottom: 20%;
    opacity: 1;
}